/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div, nav, section, p, h1, h2 {
  box-sizing: border-box;
}

/*nav {*/
/*  padding: 2em;*/
/*  font-size: 1.2em;*/
/*  margin-bottom: 10px;*/
/*}*/
/*nav * {*/
/*  !*font-size: 1.2em;*!*/
/*}*/

/*nav #next {*/
/*  margin-left: 15%;*/
/*}*/

main {
  text-align: center;
}

#gallery {
  margin: 20px;
}

.gallery-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto;
}

.vignette {
  border: solid;
  border-width: thin;
  margin: 5px;
  padding: 20px;
  text-align: center;
}

.vignette img {
  padding: 30px 30px 0px;
}

.vignette div {
  padding: 10px 0px;
}

#lightbox_container {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow-x: scroll;
  display : none;
}

#lightbox-img {
  display: inline-grid;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: auto;
  width: auto;
  padding: 12px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: darkgrey;
}

.bouton {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: auto;
  padding: 12px;
  margin-top: 50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: darkgrey;
}

.prev:hover{
  background-color: grey;
}

.next:hover{
  background-color: grey;
}

.bouton:hover{
  background-color: grey;
}

.prev {
  left: 0;
  margin-top: 15%;
  margin-left: 10%;
}

.next {
  right: 0;
  margin-top: 15%;
  margin-right: 10%;
}

#lightbox_full_img {
  max-width: 950px;
  max-height: 800px;
}

#lightbox_close {
  left: 0;
  width: 50px;
  background-color: darkgrey;
  border: solid 1px grey;
  border-radius: 5px;
  color: black;
  font-size: 20px;
}

#lightbox_close:hover {
  background-color: grey;
}

.close {
  margin-top: 1%;
  margin-right: 95%;
}

#lightbox_title {
  text-align: center;
  color: white;
  font-size: 50px;
}

#lightbox-img-data {
  margin-left: 25%;
  margin-right: 25%;
  background-color: gray;
}

#lightbox-img-data p {
  color: black;
  padding-top: 3px;
}